<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=azureblogstoragetestblob;AccountKey=oUaI/HsF2J6iN7xo8JIJysTcGnjeEeSVERISeKNETnouwTDc5P1ZEMBJ9w7Y24T6dF9U3KVbwFYD0QpIL2B7CQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>